.crystals{
    display: flex;
    justify-content: space-around;
}

.crystal{
    border: 1px solid green;
    height: 200px;
    width: 200px;
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5)
}

.crystal:hover{
    box-shadow: 15px 15px 15px rgba(0,0,0,0.5)
}

img{
    width: 50px;
}
